<div class="container">
    <div class="row mt-5">
        <div class="col-6 offset-3">
          <form [formGroup]="userForm" (ngSubmit)="isEdit?update():save()" #f="ngForm">
            <div class="row">
              <div class="col form-group">
                <mat-form-field>
                  <mat-label>UserName</mat-label>
                  <input matInput formControlName=username required>
                </mat-form-field>
              </div>
              <div class="col form-group">
                <mat-form-field>
                  <mat-label>Location</mat-label>
                  <input matInput formControlName=location required>
                </mat-form-field>
              </div>
            </div >
            <div class="row">
              <div class="col form-group">
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input  type="password" matInput formControlName=password required>
                </mat-form-field>
              </div>
              <div class="col form-group">
                <mat-form-field>
                  <mat-label>Confirm Password</mat-label>
                  <input type="password" matInput formControlName=confirmpassword #ref required>
                </mat-form-field>
                <span *ngIf="userForm.errors && ref.value!=''" class="mt-2 text-danger">
                  Password doesn't match
                </span>
              </div>
            </div >
            <div class="text-center">
              <button type="submit" mat-raised-button color="primary" [disabled]="!userForm.valid">
                {{isEdit?'update':'submit'}}
              </button>
              <button type="button" mat-raised-button color="warn" class="ml-4" (click)="cancel()">
                cancel
              </button>
            </div>
          </form>
        </div>
    </div>

    <div class="row mt-4">
      <div class="col text-right">
        <mat-form-field>
          <mat-label>Search...!</mat-label>
          <input matInput [(ngModel)]=searchTerm>
        </mat-form-field>
      </div>
    </div>

    <div class="row mt-2">
        <table mat-table [dataSource]="dataSource | search:searchTerm" class="mat-elevation-z8" style="width: 100%;">

          <ng-container [matColumnDef]="tableHeader" *ngFor="let tableHeader of tableHeaders">
            <th mat-header-cell *matHeaderCellDef>{{tableHeader | uppercase}} </th>
            <td mat-cell *matCellDef="let user,let ind=index">
              <span>{{ user[tableHeader]}}</span>
              <span *ngIf="tableHeader=='edit'">
                <button type="button" mat-icon-button (click)="edit(user,ind)">
                  <mat-icon>menu</mat-icon>
                </button>
              </span>
              <span *ngIf="tableHeader=='delete'">
                <button type="button" mat-icon-button (click)="delete(ind)" [disabled]="isEdit">
                  <mat-icon>delete</mat-icon>
                </button>
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
          <tr mat-row *matRowDef="let row; columns: tableHeaders;"></tr>
        </table>
    </div>
</div>